    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
    }

    .goiburuaOrokorra{
        display: flex;
        align-items: center;
        background: red;
        color: #fff;
        gap: 10px;
        padding: 10px;
    }

    .goiburuaOrokorra h1{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 145px;
    }

    .goiburuaOrokorra button{
        border: none;
        background-color: red;
        color: white;
        font-size: medium;
        font-weight: bold;
    }

    .login{
        display: flex;
        align-items: end;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 60px;
    }

    .signin{
        display: flex;
        align-items: end;
        justify-content: center;
        text-decoration: none;
        color: white;
        width: 80px;
    }

    .barrukoFlex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgb(141, 0, 0);
        color: #fff;
        z-index: 1000;
    }

    a{
        color: white;
        text-decoration: none;
    }

    .m_botoia{
        border: none;
        background-color: rgb(141, 0, 0);
        color: white;
        font-size: medium;
    }

    .testua{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .kronologia-sekzioa { 
        margin: 50px;
        padding: 2rem;
        background-color: #111;
        color: #fff;
        text-align: center;
        border-radius: 30px
    }

    .kronologia-sekzioa h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: #e62429;
    }

    .karrusela {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        padding-bottom: 1rem;
        scroll-snap-type: x mandatory;
    }

    .karta {
        flex: 0 0 auto;
        width: 220px;
        background-color: #222;
        border-radius: 12px;
        padding: 1.8rem;
        scroll-snap-align: start;
        transition: transform 0.3s ease;
    }

    .karta:hover {
        transform: scale(1.05);
    }

    .karta img {
        width: 100%;
        border-radius: 8px;
    }

    .karta h3 {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #fff;
    }

    .karta p {
        font-size: 0.9rem;
        color: #ccc;
    }

    footer {
        background-color: red;
        color: white;
        text-align: center;
        padding: 20px 0;
    }
      
    .flex{
        flex: 1;
    }